html {
    scroll-behavior: smooth;
  }

.titles{
    font-family: 'Quicksand', sans-serif;
}
.LandingPage{
    background: url('../../images/peachCactus.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

}

.navbar{
  font-size: 90%;
}
#navTitle{
  font-size: 90%;
}

.nameBrand{
    color: white;
    
}
.linkHolder{
    margin-left: 65%;
}
.links{
    margin: 0px 10px 0px 10px;
    font-size: 90%;
    
}
.TitleName{
    background-color: transparent;
   
}

  .proj{
    height: 350px;
  }
  .proj:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  #theForm{
 border-color: pink;
      border-width: 20px;
      
  }
  #ContactSection{
      background-color:#e9e8e5;
      height: 50vh;
  }

  #formContainer{
    margin-top: 4%;
      background-color: transparent;
  }
  #downArrow{
      color: #cadd00;
      /* color: #d7b498; */
  
  }
  #downArrow:hover{

    color: #afbe01;
}

  input{
      background-color:transparent;
      /* border: 0;
      outline: none; */
      outline: 0;
      border-width: 0 0 2px;
      border-color: #cadd00;
  }
  input:hover{
      background-color:rgb(226, 225, 225);
      border-color: #afbe01;
  }
  textarea{
    background-color:transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #cadd00;
  }
  textarea:hover{
    background-color:rgb(226, 225, 225);
    /* border: 0;
    outline: none; */
  
    border-color: #afbe01
   
}
#subBtn{
background-color:#cadd00;
}
#subBtn:hover{
    background-color:#afbe01; 
}
footer{
    background-color: #e9e8e5;
}

#bio-image {
    height: 480px;
    width: 400px;
    
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #bio-image {
            height: 460px;
            width: auto;
            
            }
        }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #cssMeMargin{
        margin-right: 0;
    }

  #bio-image {
        height: 30px;
        width: auto;
        
        }
    }
    @font-face {
        font-family: robotot;
        src: url(../fonts/Roboto-Thin.ttf);
        
      }
    @font-face {
        font-family: robotoli;
        src: url(../fonts/Roboto-LightItalic.ttf);
        
      }
      @font-face {
        font-family: robotol;
        src: url(../fonts/Roboto-Light.ttf);
        
      }
      @font-face {
        font-family: robototi;
        src: url(../fonts/Roboto-ThinItalic.ttf);
        
      }
    @font-face {
        font-family: LEMONMILKLITE;
        src: url(../fonts/LEMONMILK-Light.otf);
        
      }
      @font-face {
        font-family: LEMONMILK;
        src: url(../fonts/LEMONMILK-Regular.otf);
        
      }
      @font-face {
        font-family: VOGUE;
        src: url(../fonts/Vogue.ttf);
        
      }
      .robotoli{
          font-family: 'robotoli';
      }
      .robotol{
        font-family: 'robotol';
    }
      .robotot{
        font-family: 'robotot';
    }
    .robototi{
        font-family: 'robototi';
    }

      .vogue{
          font-family: 'VOGUE';
      }
    .lemonMilk{
        font-family: 'LEMONMILK' ;
    }
    .lemonMilkLite{
        font-family: 'LEMONMILKlITE' ;
    }

    #carouselSize{
max-width: 100%;
max-height: 50%;
    }