html {
    scroll-behavior: smooth;
  }

.titles{
    font-family: 'Quicksand', sans-serif;
}
.LandingPage{
    background: url('../../images/botanical-cactus-close-up-decor-305821.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

}



.nameBrand{
    color: white;
    
}
.linkHolder{
    margin-left: 65%;
}
.links{
    margin: 0px 8px 0px 8px;
    
    
}
.TitleName{
    background-color: transparent;
   
}
img {
  height: 250px;
  width: auto;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  #theForm{
 border-color: pink;
      border-width: 20px;
      
  }
  #ContactSection{
      background-color:#e9e8e5;
      height: 50vh;
  }

  #formContainer{
      background-color: white;
  }
  input{
      background-color:#dfe3d0;
      border: 0;
  }
  input:hover{
      background-color:#cdcebe;
  }
  textarea{
    background-color:#dfe3d0
  }
  textarea:hover{
    background-color:#cdcebe;
}