html {
    scroll-behavior: smooth;
  }

.titles{
    font-family: 'Quicksand', sans-serif;
}
.LandingPage{
    background: url('../../images/newCactus2.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

}



.nameBrand{
    color: white;
    
}
.linkHolder{
    margin-left: 65%;
}
.links{
    margin: 0px 8px 0px 8px;
    
    
}
.TitleName{
    background-color: transparent;
   
}

  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  #theForm{
 border-color: pink;
      border-width: 20px;
      
  }
  #ContactSection{
      background-color:#e9e8e5;
      height: 50vh;
  }

  #formContainer{
      background-color: white;
  }
  input{
      background-color:#dfe3d0;
      /* border: 0;
      outline: none; */
      outline: 0;
      border-width: 0 0 2px;
      border-color: #abb9b0;
  }
  input:hover{
      background-color:#cdcebe;
      border-color: #69785a;
  }
  textarea{
    background-color:#dfe3d0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #abb9b0;
  }
  textarea:hover{
    background-color:#cdcebe;
    /* border: 0;
    outline: none; */
  
    border-color: #69785a;
   
}
#subBtn{
background-color:#dfe3d0;
}
#subBtn:hover{
    background-color:#cdcebe; 
}
footer{
    background-color: #e9e8e5;
}

#bio-image {
    height: 480px;
    width: 400px;
    
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #bio-image {
            height: 460px;
            width: auto;
            
            }
        }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #cssMeMargin{
        margin-right: 0;
    }

  #bio-image {
        height: 380px;
        width: auto;
        
        }
    }

    